* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(245, 212, 102);
}
nav {
    background-color: peru;
}
ul {
    background-color: slategrey;
    list-style-type: none;
    overflow: hidden;
}
li {
    float: left;
    padding: 5px 0px;
}
a {
    display: block;
    color: papayawhip;
    text-decoration: none;
    padding: 4px 14px;
    border: 2px solid rgb(107, 107, 107);
    border-radius: 4px;
    margin-left: 3px;
}
a:hover {
    border:2px solid rgb(2, 2, 2) ;
    text-shadow: 2px 2px #ff0000;

}

