* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(245, 212, 102);
}
nav {
    background-color: peru;
}
ul {
    background-color: slategrey;
    list-style-type: none;
    overflow: hidden;
    padding: 5px;
}
li {
    float: left;
}
a {
    display: block;
    color: papayawhip;
    text-decoration: none;
    padding: 14px;
    border:2px solid rgb(0, 0, 0) ;
    margin-left: 3px;
}

